# Binaries
proxyrotator
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directory (uncomment if vendoring)
# vendor/

# Go workspace file
go.work
go.work.sum

# Dist 
dist/

# Editor
.idea/
.vscode/
*.swp
*.swo

# Node (semantic-release tooling)
node_modules/
vendor/